//Login//////////////////////////////////////////
.login-form {
  max-width: 400px;
}
.signup-title {
  margin-top: 10vh;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.52);
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
  margin-top: 15px;
}
.register-pg .ant-btn-default {
  background-color: #2e3c56 !important;
  color: #ffffff;
}
.register-pg .ant-btn-default:hover {
  background-color: #2e3c56 !important;
  color: #ffffff;
}

.login-pg .ant-btn-default {
  background-color: #2e3c56 !important;
  color: #ffffff;
}
.login-pg .ant-btn-default:hover {
  background-color: #2e3c56 !important;
  color: #ffffff;
}

.ant-btn-default > span {
  color: "#ffffff";
}
.float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.register-pg #prefix {
  width: 90px !important;
}

@media only screen and (max-width: 480px) {
  .login-pg .ant-col-6 {
    width: 80%;
    text-align: center;
  }
  .login-pg .ant-col-offset-9 {
    margin-left: 10%;
  }
  .register-pg .ant-col-12 {
    width: 80%;
  }

  .register-pg .ant-col-offset-4 {
    margin-left: 10%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .login-pg .ant-col-6 {
    width: 70%;
  }
  .login-pg .ant-col-offset-9 {
    margin-left: 15%;
  }

  .register-pg .ant-col-12 {
    width: 70%;
  }

  .register-pg .ant-col-offset-4 {
    margin-left: 15%;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .login-pg .ant-col-6 {
    width: 44%;
  }
  .login-pg .ant-col-offset-9 {
    margin-left: 28%;
  }
  .register-pg .ant-col-12 {
    width: 64%;
  }

  .register-pg .ant-col-offset-4 {
    margin-left: 18%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1283px) {
  .login-pg .ant-col-6 {
    width: 30%;
  }
  .login-pg .ant-col-offset-9 {
    margin-left: 35%;
  }
  .register-pg .ant-col-12 {
    width: 56%;
  }

  .register-pg .ant-col-offset-4 {
    margin-left: 22%;
  }
}

////////////////////////////////////////////////////


/////////////////////////////=================================Plan===========================////////////
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fcfcfc;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.pricing-table {
  text-align: center;
}

/* Each pricing-item*/
.pricing-item {
  border-radius: 3px;
  display: inline-block;
  width: 260px;
  height: auto;
  background: #fff;
  margin: 20px;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.2s cubic-bezier(0.3, 0.6, 0.2, 1.8);
  transition: all 0.2s cubic-bezier(0.3, 0.6, 0.2, 1.8);
  &:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  }
  .pricing-title {
    width: 100%;
    color: white;
    display: block;
    position: relative;
    background: #2e3c56;
    padding: 7px;
    font-weight: bold;
    font-size: 20px;
    //background: #FF4136;
    //background: #2ECC40;
  }
  &.pricing-featured .pricing-title {
    background: #f5222d;
  }
  &.pricing-featured-enterprice .pricing-title {
    background: #2e3c56;
  }
}

/* pricing-value */
.pricing-value {
  width: 180px;
  height: 180px;
  padding-top: 46px;
  border-radius: 50%;
  color: #fff;
  font-size: 46px;
  font-weight: 300;
  margin: 10px auto;
}
.pricing-value .smallText {
  font-size: 14px;
}
.pricing-value .undertext {
  display: block;
  font-size: 16px;
}

/* pricing-value */
.pricing-value-enterprice {
  width: 180px;
  height: 180px;
  padding-top: 46px;
  border-radius: 50%;
  color: #fff;
  font-size: 46px;
  font-weight: 300;
  margin: 10px auto;
}
.pricing-value-enterprice .smallText {
  font-size: 14px;
}
.pricing-value-enterprice .undertext {
  display: block;
  font-size: 16px;
}

.pricing-item .pricing-value {
  background: #2e3c56;
  border: 2px solid #2e3c56;
}
.pricing-item.pricing-featured .pricing-value {
  background: #f5222d;
  border: 2px solid #f5222d;
}

.pricing-item.pricing-featured-enterprice .pricing-value-enterprice {
  background: #2e3c56;
  border: 2px solid #2e3c56;
}

/* List */
.pricing-item .pricing-features {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  & li {
    display: block;
    width: 90%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    .keywords {
      font-weight: bold;
    }
  }
}

.button {
  width: 140px;
  height: 38px;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  margin: 0 auto;
  background: #fff;
  color: #2e3c56;
  border: 2px solid #2e3c56;
  cursor: pointer;
  margin-bottom: 10px;
  //vertical-align: middle;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  /*-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);*/
  &:hover {
    background: #2e3c56;
    color: #fff;
    border: none;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}
.pricing-item.pricing-featured .button {
  color: #f5222d;
  border: 2px solid #f5222d;
  &:hover {
    background: #f5222d;
    color: #fff;
  }
}

.pricing-item.pricing-item.pricing-featured-enterprice .button {
  color: #2e3c56;
  border: 2px solid #2e3c56;
  &:hover {
    background: #2e3c56;
    color: #fff;
  }
}
.selected {
  z-index: 10;
  width: 180px;
  height: 32px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 2px 5px #888888;
  background: gold;
  border-top: 5px solid gold;
  border-bottom: 5px solid gold;
  //background: #palegoldenrod;
  transform: rotate(35deg);
  position: absolute;
  right: -47px;
  top: 17px;
}
////=========================_Plan ends=========================//////////////////////////
