.sidebar {
  display: block;
  position: fixed;
  width: 270px;
  top: 0;
  left: 0;
  bottom: 0;
  background: hsl(203, 83%, 28%);
  color: #fff;
  transition: left 0.9s ease-in;
}

.sidebarLayout {
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #2e3c56;
  color: #fff;
  transition: left 0.9s ease-in;
}
.sidebar2 {
  position: fixed;
  width: 80px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #2e3c56;
  color: #fff;
  font-size: 35px;
  transition: left 0.9s ease-in;
}
.minSidebar {
  display: none;
}
.noSideBarHeader {
  display: none;
}

.ant-menu-dark {
  background: #2e3c56 !important;
}
.ant-layout-sider {
  background: #2e3c56 !important;
}

.ant-menu-dark,
.ant-menu-inline .ant-menu-sub {
  background: #2e3c56 !important;
  margin-top: -4x !important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #ff6666 !important;
}
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: #2e3c56 !important;
}
.ant-layout-header {
  margin-left: -1px;
  background: #2e3c56;
  height: 59px !important;
}

.content3 {
  margin-left: 250px;
}
.content4 {
  margin-left: 80px;
}
@media (max-width: 980px) {
  .content {
    margin-left: 0;
  }

  .content3 {
    margin-left: 273;
  }
  .content4 {
    margin-left: 80px;
  }
}
.toggle {
  position: fixed;
  border-radius: 5px;
  width: 28px;
  height: 28px;
  top: 10px;
  left: 310px;
  opacity: 0;
  transition: left 0.5s ease-in, opacity 0.5s 0.5s ease-in;
}
@media only screen and (max-width: 400px) {
  .sidebar {
    left: 0;
    display: none;
  }

  .toggle {
    left: 310px;
    top: 10px;
    opacity: 1;
  }

  body:global(.expanded) {
    .sidebar {
      left: -300px;
    }

    .toggle {
      left: 10px;
    }
  }
}

.content {
  position: absolute;
  overflow-y: auto;
  top: 48px;
  right: 0;
  bottom: 36px;
  left: 0;
}
.content2 {
  position: absolute;
  overflow-y: auto;
  top: 48px;
  right: 0;
  bottom: 36px;
  left: 0;
}

.footer {
  position: absolute;
  background: #2e3c56;
  height: 36px;
  line-height: 18px;
  padding: 9px 0;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;

  a {
    color: white;
    text-decoration: none;
    border-right: 1px solid #385261;
    height: 18px;
    line-height: 18px;
    font-size: 13px;
    padding: 0 12px;
    vertical-align: top;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border: none;
    }
  }

  svg {
    margin-top: -2px;
  }
}

.header {
  background: #2e3c56;
  height: 58px;
  padding: 10px 14px;

  :global(.icon) {
    width: 28px;
    height: 28px;
    float: left;
  }
}

.section {
  background: #0c5582;

  :global(.icon) {
    margin-right: 14px;
  }
}

.active {
  background: #159cee;

  .section_header {
    font-weight: 700;
    &:hover {
      background: #159cee;
    }
  }
}

.section_header {
  display: block;
  height: 48px;
  font-size: 18px;
  line-height: 28px;
  padding: 12px 14px;
  color: white;

  &:hover {
    background-color: #0d5e91;
  }

  > span {
    vertical-align: top;
  }

  > svg {
    margin-right: 14px;
  }
}

.section_contents {
  background: #0e69a0;
  padding: 16px 14px 16px 50px;
}

.action {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  padding: 0 8px;
  line-height: 20px;
  top: 4px;
  right: 0px;
  background: #0c5987;
  color: white;
  border-radius: 3px;

  &:hover {
    background: #094162;
  }
}

.logo {
  float: left;
}

.version {
  position: relative;
  width: 75px;
  height: 100%;
  font-size: 10px;
  float: left;
  margin-left: 6px;
  white-space: nowrap;
  color: white;

  > *:first-child {
    position: absolute;
    letter-spacing: 2px;
    line-height: 10px;
    text-transform: uppercase;
  }

  > *:first-child {
    top: 10px;
    transition: all 0.4s 0.16s cubic-bezier(0.77, 0, 0.175, 1);
  }
}

.topnav {
  background: #2e3c56;

  position: relative;

  max-width: 100%;
  height: 64px;
  margin-top: -8px;
}

/* Style the search box inside the navigation bar */
/*.topnav input[type="text"] {
  padding: 6px;
  border: none;
  margin-left: 43px;
  margin-top: -5px;
  color: #140303;
  margin-bottom: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 70%;
  height: 36px;
}*/

@media only screen and (max-width: 900px) {
  .sidebarLayout {
    display: none;
  }
  .minSidebar {
    display: block;
  }
  .content3 {
    margin-left: 80px;
  }
  .noSideBarHeader {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .sidebarLayout {
    display: none;
  }
  .minSidebar {
    display: none;
  }
  .content3 {
    margin-left: 0px;
  }
  .contentHeader {
    display: none;
  }
  .noSideBarHeader {
    display: block;
  }
}
